<section class="contact-section">
    <div class="contact-container">
        <h2 class="section-title">Contact</h2>
        <div class="contact-content">
            <p>Get in touch: <a href="mailto:ross.ozarka@gmail.com">ross.ozarka@gmail.com</a></p>
            <p><a href="/RossOzarka_CV.pdf" download>Download CV</a></p>
        <div class="contact-social">
            <a href="https://youtube.com/@Sealami-Cardboard-Movies" target="_blank" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://instagram.com/sealami_animation" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://vimeo.com/rossozarka" target="_blank" title="Vimeo"><i class="fa-brands fa-vimeo"></i></a>
        </div>
        </div>
    </div>
</section>
